body
{
  font-family: Verdana, Tahoma, Geneva, Helvetica, Arial, Sans-serif;
  background: rgb(233, 233, 240);
  padding: 0;
  border: 0;
  margin: 0;
}

a
{
  text-decoration: none;
}

a:hover
{
  text-decoration: underline;
}

a:active
{
  text-decoration: underline;
  color: red;
}

a:focus
{
  text-decoration: underline;
  color: red;
}

#f
{
  margin: 0;
  padding: 0;
}

#skeleton
{
  width: 100%;
  height: 100%;
  padding: 0;
  border-collapse: collapse;
  margin: 0;
}

#topbar
{
  background: rgb(224, 224, 255);
  width: 100%;
  height: 2em;
  border-bottom: 1px solid rgb(0,0,80);
  padding: 0;
  margin: 0;
}

#topbar table
{
  font-size: 80%;
  width: 100%;
}

#page_name
{
  text-align: left;
  padding: 0.25em 0 0.2em 1em;
}

#left_menu
{
  text-align: left;
  width: 50%;  
  padding: 0.3em 0 0.5em 1em;
}

#right_menu
{
  text-align: right;
  width: 50%;
  padding: 0.3em 1em 0.5em 0;
}

#msg_count
{
  width: 35em;
  font-size: 80%;
  padding: 0;
  margin: 0;
}

#mc
{
  width: 2.5em;
  text-align: right;
}

#main_area
{
  padding: 2em 1em 0 1em;
  margin: 0;
}

#copyright
{
  font-size: 60%;
  text-align: center;
  height: 2em;
  padding: 0 0 2em 0;
}

.error
{
  color: red;
}
